by Thachathum Amornkasemwong

**github:** toucham

# 1. Setup

## 1.1 Setup working environment

In [ ]:
#to use elmo
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [ ]:
import tensorflow as tf
import torch
print(tf.__version__)

1.15.2

In [ ]:
# Get the GPU device name.
device_name = tf.test.gpu_device_name()

# The device name should look like the following:
if device_name == '/device:GPU:0':
    print('Found GPU at: {}'.format(device_name))
else:
    raise SystemError('GPU device not found')

Found GPU at: /device:GPU:0

In [ ]:
# If there's a GPU available...
if torch.cuda.is_available():    

    # Tell PyTorch to use the GPU.    
    device = torch.device("cuda")

    print('There are %d GPU(s) available.' % torch.cuda.device_count())

    print('We will use the GPU:', torch.cuda.get_device_name(0))

# If not...
else:
    print('No GPU available, using the CPU instead.')
    device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: Tesla T4

In [ ]:
!pip install transformers

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/d8/b2/57495b5309f09fa501866e225c84532d1fd89536ea62406b2181933fb418/transformers-4.5.1-py3-none-any.whl (2.1MB)
     |████████████████████████████████| 2.1MB 16.5MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (3.10.1)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 54.4MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Collecting tokenizers<0.11,>=0.10.1
  Downloading https://files.pythonhosted.org/packages/ae/04/5b870f26a858552025a62f1649c20d29d2672c02ff3c3fb4c688ca46467a/tokenizers-0.10.2-cp37-cp37m-manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 47.4MB/s
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Installing collected packages: sacremoses, tokenizers, transformers
Successfully installed sacremoses-0.0.45 tokenizers-0.10.2 transformers-4.5.1

## 1.2 Clean raw data

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
TRAIN_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/train/lcp_single_train.tsv"
TEST_RAW = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/test-labels/lcp_single_test.tsv"
TRAIN = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/train/lcp_single_train_cleaned.tsv"
TEST = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/test-labels/lcp_single_test_cleaned.tsv"

In [ ]:
# read the datasets
# train
with open(TRAIN_RAW, 'r') as f:
  data = f.read()

# need to remove " from the string, otherwise parsing will have problems because some quotas are not closed 
data = data.replace('"', '')

with open(TRAIN, 'w') as f:
  f.write(data)

df = pd.read_csv(TRAIN, sep='\t')

# test
with open(TEST_RAW, 'r') as f:
  data = f.read()

data = data.replace('"', '')

with open(TEST, 'w') as f:
  f.write(data)

test = pd.read_csv(TEST, sep='\t')

In [ ]:
# take a look
pd.set_option('display.max_colwidth', None) # show the whole sentence
df.head()

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river   0.000000
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers   0.000000
2  3S1WOPCJFGTJU2SGNAN2Y213N6WJE3  bible  ...  brothers   0.050000
3  3BFNCI9LYKQN09BHXHH9CLSX5KP738  bible  ...  brothers   0.150000
4  3G5RUKN2EC3YIWSKUXZ8ZVH95R49N2  bible  ...  brothers   0.263889

[5 rows x 5 columns]

In [ ]:
test.head()

                               id corpus  ...     token complexity
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ...      hand   0.000000
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...      hand   0.197368
2  3ULIZ0H1VA5C32JJMKOTQ8Z4GUS51B  bible  ...      hand   0.200000
3  3BFF0DJK8XCEIOT30ZLBPPSRMZQTSD  bible  ...      hand   0.267857
4  3QREJ3J433XSBS8QMHAICCR0BQ1LKR  bible  ...  entrance   0.000000

[5 rows x 5 columns]

## 1.3 Preprocess cleaned data

In [ ]:
import torchtext.vocab

In [ ]:
# use the Glove 6B 100d
cache_dir = "/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/data"
# glove = vocab.pretrained_aliases["glove.6B.100d"](cache=cache_dir)
glove = torchtext.vocab.GloVe(name='6B', dim=100, cache=cache_dir)

In [ ]:
# get all the non-unique tokens for prediction
tokens = df['token'].dropna().to_list()
tokens = [token.lower() for token in tokens] # lowercase
print(len(tokens))

# check if all tokens are in Glove
for token in tokens:
  if token not in glove.stoi:
    print("Token Not Found:", token)

7659
Token Not Found: perverseness
Token Not Found: perverseness
Token Not Found: perverseness
Token Not Found: housetops
Token Not Found: slanderers
Token Not Found: plowmen
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dainties
Token Not Found: dunghill
Token Not Found: carotids
Token Not Found: tace

### 1.3.1 Create word frequency & word length features for each token

In [ ]:
import string
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from collections import Counter

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# create a dataframe for handcrafted features: word length & word frequency
train_df = pd.DataFrame(tokens, columns =['token'])

# add back complexity
train_df['complexity'] = df['complexity']

# word length
train_df['word_length'] = train_df['token'].map(lambda x: len(x))

# punctuations
punc = string.punctuation

# stop words
stop_words = set(stopwords.words('english')) 

# word frequency
# tokenize the whole curpus
temp = df['sentence'].to_list()
texts = []
for sent in temp:
  sent = sent.lower()
  sent = ''.join([c for c in sent if c not in punc])
  words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
  texts += words
# count frequency
count = Counter(texts)
train_df['word_frequency'] = train_df['token'].map(lambda x: count[x])

train_df.head()

      token  complexity  word_length  word_frequency
0     river    0.000000            5              26
1  brothers    0.000000            8              36
2  brothers    0.050000            8              36
3  brothers    0.150000            8              36
4  brothers    0.263889            8              36

The `texts` variable is created from combining all the tokens from every corpus in the training data, which is what we used to calculate `word_frequency` feature. **However**, the sentence shown in each row is only a part of the whole corpus; therefore, `word_frequency` is not a reliable feature to be used.

In [ ]:
len(texts)

107823

### 1.3.2 Create `word_frequency` from real text

#### [Bible WEB](https://github.com/scrollmapper/bible_databases/tree/master/txt/WEB)

In [ ]:
biblePath = r"/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/bibleWEB"

In [ ]:
import os
from os.path import isfile, join
from os import listdir
bibleList = sorted([f for f in listdir(biblePath) if isfile(join(biblePath, f))])

In [ ]:
bibleList[0]

'1 Genesis - World English Bible (WEB).txt'

In [ ]:
f = open(os.path.join(biblePath, bibleList[0]), 'r')
text = f.read().lower()

In [ ]:
def bible_tokenizer(chapter: string):
  punc = string.punctuation
  stop_words = set(stopwords.words('english')) 
  sents = []
  for s in chapter.lower().split('\n'):
    sent = ''.join([c for c in s if c not in punc])
    words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
    sents += words
  return sents

#### Bible word counter

In [ ]:
bible_tokens = []
for chapter in bibleList:
  text = open(os.path.join(biblePath, chapter), 'r')
  tokenized_chapter = bible_tokenizer(text.read())
  bible_tokens += tokenized_chapter

bible_counter = Counter(bible_tokens)

#### [CRAFT Corpus](https://github.com/UCDenver-ccp/CRAFT/tree/master/articles/txt)

In [ ]:
craftPath = r"/content/gdrive/My Drive/Colab Notebooks/CS505FinalProject/CRAFTtxt"

In [ ]:
import os
from os.path import isfile, join
from os import listdir
craftList = [f for f in listdir(craftPath) if isfile(join(craftPath, f))]

In [ ]:
craftList[0]

'15676071.txt'

In [ ]:
f = open(os.path.join(craftPath, craftList[0]), 'r')
text = f.read().lower()

In [ ]:
def craft_tokenizer(text: string):
  punc = string.punctuation
  stop_words = set(stopwords.words('english')) 
  sents = []
  for s in text.lower().split('\n'):
    sent = ''.join([c for c in s if c not in punc])
    words = [word for word in sent.split(' ') if (word.isalpha() and word not in stop_words)]
    sents += words
  return sents

#### Craft word counter

In [ ]:
craft_tokens = []
for chapter in craftList:
  text = open(os.path.join(craftPath, chapter), 'r')
  tokenized_chapter = craft_tokenizer(text.read())
  craft_tokens += tokenized_chapter

craft_counter = Counter(craft_tokens)

### 1.3.3 ELMo features

In [ ]:
import tensorflow_hub as hub
import tensorflow as tf

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
tf.__version__

'1.15.2'

In [ ]:
elmo = hub.Module("https://tfhub.dev/google/elmo/3", trainable=True)

In [ ]:
test_sent = df.head(1).values[0, 2]
test_word = df.head(1).values[0, 3]
print('Sentence:', test_sent, '\n', 'Word:', test_word)

Sentence: Behold, there came up out of the river seven cattle, sleek and fat, and they fed in the marsh grass.
 Word: river

In [ ]:
test_sent2 = df.head(2).values[1, 2]
test_word2 = df.head(2).values[1, 3]
print('Sentence:', test_sent2, '\n', 'Word:', test_word2)
df.head(2)

Sentence: I am a fellow bondservant with you and with your brothers, the prophets, and with those who keep the words of this book.
 Word: brothers

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river        0.0
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers        0.0

[2 rows x 5 columns]

In [ ]:
def tokenizer(sent):
  punc = string.punctuation
  s = ''.join([c for c in sent.lower() if c not in punc])
  words = [word for word in s.split(' ') if (word.isalpha() and word not in stop_words)]
  return words

In [ ]:
def find_index(s, word):
  word = word.lower()
  if (word in s):
    return s.index(word)

  
  for w in range(len(s)):
    if (word in s[w]):
      return w
  return -1

In [ ]:
def compute_elmo_tokens(tokens, sequence_len):
  embedding = elmo({"tokens": tokens, "sequence_len": sequence_len}, signature='tokens', as_dict=True)['elmo']
  print('Run session...')
  with tf.Session() as sess:
      sess.run(tf.global_variables_initializer())
      sess.run(tf.tables_initializer())
      # return average of ELMo features
      vectors = sess.run(embedding)
  return vectors

In [ ]:
def clean_for_elmo(sents, words):
  raw_tokens = []
  sequence_len = []
  index_tokens = []
  for i in range(len(sents)):
    tokenized = tokenizer(sents[i]) #return as str[]
    raw_tokens += [tokenized]

    sequence_len.append(len(tokenized))
    index = find_index(tokenized, words[i])
    if (index == -1):
      print('-------------')
      print(i)
      print(sents[i])
      print(tokenized)
      print(words[i])
      print('COULD NOT FIND WORD!!')
    index_tokens.append(index)


  max_len = max(sequence_len)
  tokens = []
  for t in raw_tokens:
    if (len(t) < max_len):
      dif = max_len-len(t)
      tokens += [t + [""]*(dif)]
    else:
      tokens += [t]
  return tokens, sequence_len, index_tokens

#### Compute bible only

In [ ]:
import numpy as np

In [ ]:
bible_df = df[df['corpus'] == 'bible']

In [ ]:
bible_df.shape

(2574, 5)

In [ ]:
def compute_elmo(input_df, batch_size=800):
  elmo_vectors = []
  index_all_token = []
  df_sents = input_df.iloc[:batch_size]['sentence'].tolist()
  df_words = input_df.iloc[:batch_size]['token'].tolist()
  new_batch_size = batch_size
  old_batch_size = batch_size
  while (new_batch_size < input_df.shape[0]):
    tokens_elmo, seq_len_elmo, index_token = clean_for_elmo(df_sents, df_words)
    elmo_vectors_batch = compute_elmo_tokens(tokens_elmo, seq_len_elmo)
    elmo_vectors.append(elmo_vectors_batch)
    index_all_token.append(index_token)
    old_batch_size = new_batch_size
    print(old_batch_size)
    new_batch_size += batch_size
    df_sents = input_df.iloc[old_batch_size:new_batch_size]['sentence'].tolist()
    df_words = input_df.iloc[old_batch_size:new_batch_size]['token'].tolist()

  df_sents = input_df.iloc[old_batch_size:]['sentence'].tolist()
  df_words = input_df.iloc[old_batch_size:]['token'].tolist()
  tokens_elmo, seq_len_elmo, index_token = clean_for_elmo(df_sents, df_words)
  elmo_vectors_batch = compute_elmo_tokens(tokens_elmo, seq_len_elmo)
  elmo_vectors.append(elmo_vectors_batch)
  index_all_token.append(index_token)

  return elmo_vectors, index_all_token

In [ ]:
elmo_vectors, index_token = compute_elmo(bible_df)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
800
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1600
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2400
-------------
158
Lebaoth, Shilhim, Ain, and Rimmon.
['lebaoth', 'shilhim', 'rimmon']
Ain
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

#### Compute biomed only

In [ ]:
biomed_df = df[df['corpus'] == 'biomed'].dropna()

In [ ]:
#not enough memory
biomed_elmo_vectors, biomed_index_token = compute_elmo(biomed_df, batch_size=500)

-------------
398
Because there was clearly no MCAD antigen detected in MCAD−/− mice, the residual dehydrogenase activity measured with these two substrates must represent the activity of other chain length–specific acyl-CoA dehydrogenases.
['clearly', 'mcad', 'antigen', 'detected', 'mice', 'residual', 'dehydrogenase', 'activity', 'measured', 'two', 'substrates', 'must', 'represent', 'activity', 'chain', 'acylcoa', 'dehydrogenases']
length
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
500
-------------
218
Does activity-dependent neuronal competition [37] contribute to increased representation of the olfactory receptors that respond to common environmental odorants?
['activitydependent', 'neuronal', 'competition', 'contribute', 'increased', 'representation', 'olfactory', 'receptors', 'respond', 'common', 'environmental', 'odorants']
Does
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1000
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1500
-------------
134
We [5,8], and others [9–17], have recently extended the power of this approach by incorporating genome-wide gene expression array analysis, which allows us to model the “genetics of gene expression” using similar methods.
['others', 'recently', 'extended', 'power', 'approach', 'incorporating', 'genomewide', 'gene', 'expression', 'array', 'analysis', 'allows', 'us', 'model', 'gene', 'using', 'similar', 'methods']
genetics
COULD NOT FIND WORD!!
-------------
314
Our data reveal that a PPARδ-mediated transcriptional pathway can regulate muscle fiber specification, enabling the generation of a strain of mice with a “long-distance running” phenotype.
['data', 'reveal', 'pparδmediated', 'transcriptional', 'pathway', 'regulate', 'muscle', 'fiber', 'specification', 'enabling', 'generation', 'strain', 'mice', 'phenotype']
running
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2000
-------------
99
Annexin A7, the first annexin to be described, was isolated as the agent that mediated aggregation of chromaffin granules and fusion of membranes and phospholipids in the presence of Ca2+-ions [3].
['annexin', 'first', 'annexin', 'described', 'isolated', 'agent', 'mediated', 'aggregation', 'chromaffin', 'granules', 'fusion', 'membranes', 'phospholipids', 'presence']
ions
COULD NOT FIND WORD!!
-------------
238
MA performed FPLC analysis.
['performed', 'fplc', 'analysis']
MA
COULD NOT FIND WORD!!
-------------
439
Bmp2 and Bmp4 are also expressed in the AER, where Prx1::cre is inactive, and these domains of expression are not affected (Figure 1A–1D, black arrows).
['also', 'expressed', 'aer', 'inactive', 'domains', 'expression', 'affected', 'figure', 'black', 'arrows']
cre
COULD NOT FIND WORD!!
-------------
441
These expression domains are completely lost by E10.5 in the presence of the Prx1::cre transgene (Figure 1D).
['expression', 'domains', 'completely', 'lost', 'presence', 'transgene', 'figure']
cre
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2500
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

#### Compute euraparl only

In [ ]:
europarl_df = df[df['corpus'] == 'europarl'].dropna()
europarl_df.shape

(2512, 5)

In [ ]:
#not enough memory
europarl_elmo_vectors, europarl_index_token = compute_elmo(europarl_df, batch_size=250)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
250
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
500
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
750
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1000
-------------
65
There is an important Election Observation Mission there with your colleague, Mrs De Keyser; secondly, to underline the importance of European Union financial support to the Palestinian people, and, thirdly, to thus raise the visibility of a number of EU projects, notably in Gaza.
['important', 'election', 'observation', 'mission', 'colleague', 'secondly', 'underline', 'importance', 'european', 'union', 'financial', 'support', 'palestinian', 'people', 'thirdly', 'thus', 'raise', 'visibility', 'number', 'eu', 'projects', 'notably', 'gaza']
Mrs
COULD NOT FIND WORD!!
-------------
66
– the oral question to the Commission by Mrs Berès, on behalf of the Committee on Economic and Monetary Affairs, on the expiry of Directive 1999/85/EC as regards the possibility of applying on an experimental basis a reduced VAT rate on labour-intensive services (O-0106/2005 – B6-0342/2005).
['oral', 'question', 'commission', 'behalf', 'committee', 'economic', 'monetary', 'affairs', 'expiry', 'directive', 'regards', 'possibility', 'applying', 'experimental', 'basis', 'reduced', 'vat', 'rate', 'labourintensive', 'services']
Mrs
COULD NOT FIND WORD!!
-------------
115
We are talking about a case that concerns a human being, a woman, and efforts are under way to find a political solution.
['talking', 'case', 'concerns', 'human', 'woman', 'efforts', 'way', 'find', 'political', 'solution']
being
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1250
-------------
91
I am frustrated because fewer and fewer people now believe the solution lies in the Road Map sponsored by the Quartet.
['frustrated', 'fewer', 'fewer', 'people', 'believe', 'solution', 'lies', 'sponsored', 'quartet']
Map
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1500
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
1750
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2000
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2250
-------------
43
Again, let me – in this case in her absence – congratulate Mrs Ries on this appointment and note, pursuant to Rule 8(4), that her mandate as a Member of the European Parliament has terminated and that a vacancy exists as of 12 February 2004.
['let', 'case', 'absence', 'congratulate', 'appointment', 'note', 'pursuant', 'mandate', 'member', 'european', 'parliament', 'terminated', 'vacancy', 'exists', 'february']
Ries
COULD NOT FIND WORD!!
-------------
229
A4-0373/98 by Mrs Waddington, on behalf of the Committee on Employment and Social Affairs, on the proposal for a Council Decision establishing the second phase of the Community vocational training action programme 'Leonardo da Vinci' (COM(98)0330 - C4-0522/98-98/0196(SYN)); -A4-0371/98 by Mrs Pack, on behalf of the Committee on Culture, Youth, Education and the Media, on the proposal for a European Parliament and Council Decision establishing the second phase of the Community action programme in the field of education 'Socrates' (COM(98)0329 - C4-0510/98-98/0195(COD)); -A4-0389/98 by Mr De Coene, on behalf of the Committee on Culture, Youth, Education and the Media, on the proposal for a European Parliament and Council Decision establishing the Community action programme for youth (COM(98)0331 - C4-0511/98-98/0197(COD)).
['mrs', 'waddington', 'behalf', 'committee', 'employment', 'social', 'affairs', 'proposal', 'council', 'decision', 'establishing', 'second', 'phase', 'community', 'vocational', 'training', 'action', 'programme', 'leonardo', 'da', 'vinci', 'mrs', 'pack', 'behalf', 'committee', 'culture', 'youth', 'education', 'media', 'proposal', 'european', 'parliament', 'council', 'decision', 'establishing', 'second', 'phase', 'community', 'action', 'programme', 'field', 'education', 'socrates', 'mr', 'de', 'coene', 'behalf', 'committee', 'culture', 'youth', 'education', 'media', 'proposal', 'european', 'parliament', 'council', 'decision', 'establishing', 'community', 'action', 'programme', 'youth']
SYN
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
2500
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

#### ELMO word embedding

In [ ]:
def word_embedding_vectors(elmo_vectors, index_token):
  elmo_embedded_word = []
  for j in range(len(elmo_vectors)):
    for i in range(len(elmo_vectors[j])):
      if (index_token[j][i] == -1):
        #init randomly normal distributed vector for index == -1
        elmo_embedded_word.append(np.random.normal(scale=0.6, size=(1024, )))
      else:
        elmo_embedded_word.append(elmo_vectors[j][i, index_token[j][i]])
  return elmo_embedded_word

In [ ]:
elmo_embedded_word = word_embedding_vectors(elmo_vectors, index_token)

In [ ]:
elmo_embedded_word_biomed = word_embedding_vectors(biomed_elmo_vectors, biomed_index_token)

In [ ]:
elmo_embedded_word_europarl = word_embedding_vectors(europarl_elmo_vectors, europarl_index_token)

#2. Train models

## 2.1 Linear regression with new `word_frequency`

### Bible text

In [ ]:
bible_df = df[df['corpus'] == 'bible']
print(bible_df.shape)

(2574, 5)

In [ ]:
bible_df.head()

                               id corpus  ...     token complexity
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...     river   0.000000
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  brothers   0.000000
2  3S1WOPCJFGTJU2SGNAN2Y213N6WJE3  bible  ...  brothers   0.050000
3  3BFNCI9LYKQN09BHXHH9CLSX5KP738  bible  ...  brothers   0.150000
4  3G5RUKN2EC3YIWSKUXZ8ZVH95R49N2  bible  ...  brothers   0.263889

[5 rows x 5 columns]

In [ ]:
# get all the non-unique tokens for prediction
tokens = df[df['corpus'] == 'bible']['token'].dropna().to_list()
tokens = [token.lower() for token in tokens] # lowercase

# create a dataframe for handcrafted features: word length & word frequency
bible_train_df = pd.DataFrame(tokens, columns =['token'])

# add back complexity
bible_train_df['complexity'] = bible_df['complexity'].to_list()
bible_train_df['corpus'] = bible_df['corpus'].to_list()

# word length & word frequency
bible_train_df['word_length'] = bible_train_df['token'].map(lambda x: len(x))
bible_train_df['word_frequency'] = bible_train_df['token'].map(lambda x: bible_counter[x])

In [ ]:
bible_train_df.head()

      token  complexity corpus  word_length  word_frequency
0     river    0.000000  bible            5             154
1  brothers    0.000000  bible            8             622
2  brothers    0.050000  bible            8             622
3  brothers    0.150000  bible            8             622
4  brothers    0.263889  bible            8             622

#### create weight matrix

In [ ]:
import numpy as np

In [ ]:
def create_weights_matrix(vocab, dimension=100):
  """ create a matrix containing vectors for each word in Glove """
  matrix_len = len(vocab)
  weights_matrix = np.zeros((matrix_len, dimension))

  for i, word in enumerate(vocab):
      try: 
          weights_matrix[i] = glove[word]
      except KeyError:
          weights_matrix[i] = np.random.normal(scale=0.6, size=(emb_dim, )) # initialize a random vector
  #return torch.from_numpy(weights_matrix) # a tensor
  return weights_matrix

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)

train_df_combined = pd.concat([bible_train_df, weight_matrix_df], axis=1)
train_df_combined.head()

(2574, 100)

      token  complexity  word_length  ...       97        98       99
0     river    0.000000            5  ... -0.69940  1.050600  0.24051
1  brothers    0.000000            8  ... -0.24623  0.006483 -0.21982
2  brothers    0.050000            8  ... -0.24623  0.006483 -0.21982
3  brothers    0.150000            8  ... -0.24623  0.006483 -0.21982
4  brothers    0.263889            8  ... -0.24623  0.006483 -0.21982

[5 rows x 104 columns]

#### train model

In [ ]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import StratifiedKFold

In [ ]:
# get data for training
X_train = train_df_combined.drop(columns=['token', 'complexity'])
Y_train = train_df_combined['complexity']

In [ ]:
# train linear regression
lr = LinearRegression().fit(X_train, Y_train)

In [ ]:
# predict
Y_pred = lr.predict(X_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.06963019167251543

#### test

In [ ]:
# on test
test_tokens = test[test['corpus']=='bible']['token'].dropna().to_list()
test_tokens = [token.lower() for token in test_tokens] # lowercase
print(len(test_tokens))

# create a dataframe for linear regression
test_df = pd.DataFrame(test_tokens, columns =['token'])

test_df['complexity'] = test[test['corpus']=='bible']['complexity'].to_list()

# word length
test_df['word_length'] = test_df['token'].map(lambda x: len(x))
test_df['word_frequency'] = test_df['token'].map(lambda x: bible_counter[x])

283

In [ ]:
test_df.head()

      token  complexity  word_length  word_frequency
0      hand    0.000000            4            1435
1      hand    0.197368            4            1435
2      hand    0.200000            4            1435
3      hand    0.267857            4            1435
4  entrance    0.000000            8              51

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(test_tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)
test_df_combined = pd.concat([test_df, weight_matrix_df], axis=1)
test_df_combined.head()

(283, 100)

      token  complexity  word_length  ...        97       98        99
0      hand    0.000000            4  ... -0.230930  0.93931  0.091475
1      hand    0.197368            4  ... -0.230930  0.93931  0.091475
2      hand    0.200000            4  ... -0.230930  0.93931  0.091475
3      hand    0.267857            4  ... -0.230930  0.93931  0.091475
4  entrance    0.000000            8  ...  0.013272  0.97305  0.454050

[5 rows x 104 columns]

In [ ]:
# get data for test
X_test = test_df_combined.drop(columns=['token', 'complexity'])
Y_test = test_df_combined['complexity']

# predict
Y_pred = lr.predict(X_test)

# test loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_test[i])
  losses.append(loss)
abl = sum(losses) / num
print("average test absolute loss is " + str(abl))

average test absolute loss is 0.08314168441562919

### Biomedical CRAFT text

In [ ]:
np.unique(df['corpus'])

array(['bible', 'biomed', 'europarl'], dtype=object)

In [ ]:
biomed_df = df[df['corpus'] == 'biomed'].dropna()
print(biomed_df.shape)

(2573, 5)

In [ ]:
biomed_df.head()

                                  id  corpus  ...    token complexity
2574  37ZQELHEQ0YDPGBEJ63D4HNT5SBNMJ  biomed  ...     fact   0.000000
2575  3XUSYT70IT170QDU572CAF4MOM1D0B  biomed  ...     fact   0.183333
2576  34R3P23QHS1HKWJHKAEN8VSOHJ9WH5  biomed  ...     fact   0.300000
2577  3L21G7IH47WA5QT3XMTQ15XXB1L1YG  biomed  ...  studies   0.000000
2578  3ZXNP4Z39RL4GD163NL987ME58H7LR  biomed  ...  studies   0.125000

[5 rows x 5 columns]

In [ ]:
# get all the non-unique tokens for prediction
biomed_tokens = biomed_df['token'].to_list()
biomed_tokens = [token.lower() for token in biomed_tokens] # lowercase

# create a dataframe for handcrafted features: word length & word frequency
biomed_train_df = pd.DataFrame(biomed_tokens, columns =['token'])

In [ ]:
# add back complexity
biomed_train_df['complexity'] = biomed_df['complexity'].to_list()
biomed_train_df['corpus'] = biomed_df['corpus'].to_list()

In [ ]:
# word length & word frequency
biomed_train_df['word_length'] = biomed_train_df['token'].map(lambda x: len(x))
biomed_train_df['word_frequency'] = biomed_train_df['token'].map(lambda x: craft_counter[x])

In [ ]:
biomed_train_df.head()

     token  complexity  corpus  word_length  word_frequency
0     fact    0.000000  biomed            4             111
1     fact    0.183333  biomed            4             111
2     fact    0.300000  biomed            4             111
3  studies    0.000000  biomed            7             499
4  studies    0.125000  biomed            7             499

#### create weight matrix

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)

train_df_combined = pd.concat([biomed_train_df, weight_matrix_df], axis=1).dropna()
train_df_combined.head()

(2574, 100)

     token  complexity  corpus  ...       97        98       99
0     fact    0.000000  biomed  ... -0.69940  1.050600  0.24051
1     fact    0.183333  biomed  ... -0.24623  0.006483 -0.21982
2     fact    0.300000  biomed  ... -0.24623  0.006483 -0.21982
3  studies    0.000000  biomed  ... -0.24623  0.006483 -0.21982
4  studies    0.125000  biomed  ... -0.24623  0.006483 -0.21982

[5 rows x 105 columns]

#### train model

In [ ]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import StratifiedKFold

In [ ]:
# get data for training
X_train = train_df_combined.drop(columns=['token', 'complexity', 'corpus'])
Y_train = train_df_combined['complexity']

In [ ]:
# train linear regression
lr = LinearRegression().fit(X_train, Y_train)

In [ ]:
# predict
Y_pred = lr.predict(X_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.0859900500618725

#### test

In [ ]:
# on test
test_tokens = test[test['corpus']=='biomed']['token'].dropna().to_list()
test_tokens = [token.lower() for token in test_tokens] # lowercase
print(len(test_tokens))

# create a dataframe for linear regression
test_df = pd.DataFrame(test_tokens, columns =['token'])

test_df['complexity'] = test[test['corpus']=='biomed']['complexity'].to_list()

# word length
test_df['word_length'] = test_df['token'].map(lambda x: len(x))
test_df['word_frequency'] = test_df['token'].map(lambda x: craft_counter[x])

289

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(test_tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)
test_df_combined = pd.concat([test_df, weight_matrix_df], axis=1)
test_df_combined.head()

(289, 100)

  token  complexity  word_length  ...       97       98       99
0  role    0.000000            4  ... -0.46676  0.35424  0.59077
1  role    0.203125            4  ... -0.46676  0.35424  0.59077
2  role    0.205882            4  ... -0.46676  0.35424  0.59077
3  role    0.233333            4  ... -0.46676  0.35424  0.59077
4  role    0.234375            4  ... -0.46676  0.35424  0.59077

[5 rows x 104 columns]

In [ ]:
# create the weight matrix
weight_matrix = create_weights_matrix(test_tokens)
print(weight_matrix.shape)

# combine
weight_matrix_df = pd.DataFrame(weight_matrix)
test_df_combined = pd.concat([test_df, weight_matrix_df], axis=1)
test_df_combined.head()

(289, 100)

  token  complexity  word_length  ...       97       98       99
0  role    0.000000            4  ... -0.46676  0.35424  0.59077
1  role    0.203125            4  ... -0.46676  0.35424  0.59077
2  role    0.205882            4  ... -0.46676  0.35424  0.59077
3  role    0.233333            4  ... -0.46676  0.35424  0.59077
4  role    0.234375            4  ... -0.46676  0.35424  0.59077

[5 rows x 104 columns]

In [ ]:
# get data for test
X_test = test_df_combined.drop(columns=['token', 'complexity'])
Y_test = test_df_combined['complexity']

# predict
Y_pred = lr.predict(X_test)

# test loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
  loss = abs(Y_pred[i] - Y_test[i])
  losses.append(loss)
abl = sum(losses) / num
print("average test absolute loss is " + str(abl))

average test absolute loss is 0.08692959286863015

### Bible + Biomedical

In [ ]:
bible_train_df.head()

      token  complexity corpus  word_length  word_frequency
0     river    0.000000  bible            5             154
1  brothers    0.000000  bible            8             622
2  brothers    0.050000  bible            8             622
3  brothers    0.150000  bible            8             622
4  brothers    0.263889  bible            8             622

In [ ]:
bible_train_df.shape

(2574, 5)

In [ ]:
biomed_train_df.head()

     token  complexity  corpus  word_length  word_frequency
0     fact    0.000000  biomed            4             111
1     fact    0.183333  biomed            4             111
2     fact    0.300000  biomed            4             111
3  studies    0.000000  biomed            7             499
4  studies    0.125000  biomed            7             499

In [ ]:
biomed_train_df.shape

(2573, 5)

In [ ]:
combined_train_df = pd.concat([bible_train_df, biomed_train_df]).reset_index(drop=True)

In [ ]:
print(np.unique(combined_train_df['corpus']))
combined_train_df.iloc[2572:].head()

['bible' 'biomed']

     token  complexity  corpus  word_length  word_frequency
2572  agee    0.675000   bible            4               1
2573   tou    0.825000   bible            3               2
2574  fact    0.000000  biomed            4             111
2575  fact    0.183333  biomed            4             111
2576  fact    0.300000  biomed            4             111

In [ ]:
combined_train_df.shape

(5147, 5)

In [ ]:
# get data for training
X_train = combined_train_df.drop(columns=['token', 'complexity', 'corpus'])
Y_train = combined_train_df['complexity']

# train linear regression
lr = LinearRegression().fit(X_train, Y_train)

# predict
Y_pred = lr.predict(X_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_pred)
losses = []
for i in range(num):
    loss = abs(Y_pred[i] - Y_train[i])
    losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.10980264244641504

## 2.2 Linear regression with ELMo word embedding

### 2.2.1 Only ELMo vectors

In [ ]:
import sklearn
from sklearn.linear_model import LinearRegression

#### bible text

In [ ]:
len(elmo_embedded_word)

2574

In [ ]:
elmo_bible_df = bible_df.iloc[:len(elmo_embedded_word)]

In [ ]:
elmo_embedded_df = pd.DataFrame(elmo_embedded_word)

In [ ]:
elmo_embedded_df.head()

       0         1         2     ...      1021      1022      1023
0  0.380389 -0.176156 -0.314544  ...  0.821129  0.205928  0.648317
1  0.080406 -0.408230  0.158734  ... -0.680608  0.406645 -0.072077
2  0.122995 -0.255338 -0.084610  ... -0.432834  0.264197 -0.065345
3 -0.233317  0.075169  0.101757  ... -0.189591  0.507491  0.203926
4  0.045292 -0.214803  0.358676  ... -0.104712  0.049442  0.220563

[5 rows x 1024 columns]

In [ ]:
elmo_bible_df_combined = pd.concat([elmo_bible_df, elmo_embedded_df], axis=1).dropna()
elmo_bible_df_combined.head(2)

                               id corpus  ...      1022      1023
0  3ZLW647WALVGE8EBR50EGUBPU4P32A  bible  ...  0.205928  0.648316
1  34R0BODSP1ZBN3DVY8J8XSIY551E5C  bible  ...  0.406645 -0.072077

[2 rows x 1029 columns]

In [ ]:
X_elmo_train = elmo_bible_df_combined.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_train = elmo_bible_df_combined['complexity']

In [ ]:
#train
lr = LinearRegression().fit(X_elmo_train, Y_elmo_train)

In [ ]:
# predict
Y_elmo_pred = lr.predict(X_elmo_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.056465208341030346

#### biomed text

In [ ]:
len(elmo_embedded_word_biomed)

2573

In [ ]:
elmo_embedded_df = pd.DataFrame(elmo_embedded_word_biomed)

In [ ]:
elmo_embedded_df.head()

       0         1         2     ...      1021      1022      1023
0 -0.249135  0.301341 -0.119462  ...  0.234907  1.108247 -0.141695
1 -0.209395  0.092374  0.188030  ...  0.464363  1.395325 -0.543135
2  0.004268  0.106336  0.048399  ...  0.363886  0.670912 -0.700466
3 -0.656302  0.294128  0.483853  ...  0.755543  0.615258  0.281403
4 -1.044316  0.130674  0.871212  ... -0.131656  0.766625 -0.220302

[5 rows x 1024 columns]

In [ ]:
biomed_df_rest = biomed_df.reset_index(drop=True)
biomed_df_rest.head()

                               id  corpus  ...    token complexity
0  37ZQELHEQ0YDPGBEJ63D4HNT5SBNMJ  biomed  ...     fact   0.000000
1  3XUSYT70IT170QDU572CAF4MOM1D0B  biomed  ...     fact   0.183333
2  34R3P23QHS1HKWJHKAEN8VSOHJ9WH5  biomed  ...     fact   0.300000
3  3L21G7IH47WA5QT3XMTQ15XXB1L1YG  biomed  ...  studies   0.000000
4  3ZXNP4Z39RL4GD163NL987ME58H7LR  biomed  ...  studies   0.125000

[5 rows x 5 columns]

In [ ]:
elmo_biomed_df_combined = pd.concat([biomed_df_rest, elmo_embedded_df], axis=1).dropna()
elmo_biomed_df_combined.head(2)

                               id  corpus  ...      1022      1023
0  37ZQELHEQ0YDPGBEJ63D4HNT5SBNMJ  biomed  ...  1.108247 -0.141695
1  3XUSYT70IT170QDU572CAF4MOM1D0B  biomed  ...  1.395325 -0.543135

[2 rows x 1029 columns]

In [ ]:
X_elmo_train = elmo_biomed_df_combined.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_train = elmo_biomed_df_combined['complexity']

In [ ]:
#train
lr = LinearRegression().fit(X_elmo_train, Y_elmo_train)
# predict
Y_elmo_pred = lr.predict(X_elmo_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.055058606649159264

#### europarl text

In [ ]:
len(elmo_embedded_word_europarl)

2512

In [ ]:
elmo_embedded_df = pd.DataFrame(elmo_embedded_word_europarl)
europarl_df_rest = europarl_df.reset_index(drop=True)
europarl_df_rest.head()

                               id    corpus  ...    token complexity
0  3Y40HMYLL1I1EIURUEH8TTVLKTKUX0  europarl  ...     fact   0.156250
1  3OZ4VAIBEXF0WDE2I0CCY6PPN3VVJL  europarl  ...     fact   0.236842
2  3NFWQRSHVEE19E2BAFM5J7UN7HQFGD  europarl  ...     days   0.111111
3  3TZ0XG8CBUKDFP5GOVAPHYREGZ298H  europarl  ...     days   0.116667
4  3M7OI89LVYOS99TV70NIZAWVGPFC6F  europarl  ...  details   0.075000

[5 rows x 5 columns]

In [ ]:
elmo_europarl_df_combined = pd.concat([europarl_df_rest, elmo_embedded_df], axis=1).dropna()
elmo_europarl_df_combined.head(2)

                               id    corpus  ...      1022      1023
0  3Y40HMYLL1I1EIURUEH8TTVLKTKUX0  europarl  ...  0.653409 -0.288506
1  3OZ4VAIBEXF0WDE2I0CCY6PPN3VVJL  europarl  ...  0.274173 -0.120015

[2 rows x 1029 columns]

In [ ]:
X_elmo_train = elmo_europarl_df_combined.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_train = elmo_europarl_df_combined['complexity']

In [ ]:
#train
lr = LinearRegression().fit(X_elmo_train, Y_elmo_train)
# predict
Y_elmo_pred = lr.predict(X_elmo_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.04489585089343337

#### biomed + bible + europarl text

In [ ]:
elmo_combined_df = pd.concat([elmo_biomed_df_combined, elmo_bible_df_combined, elmo_europarl_df_combined]).reset_index(drop=True)

In [ ]:
X_elmo_train = elmo_combined_df.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_train = elmo_combined_df['complexity']
#train
lr = LinearRegression().fit(X_elmo_train, Y_elmo_train)
# predict
Y_elmo_pred = lr.predict(X_elmo_train)

In [ ]:
# train loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_train[i])
  losses.append(loss)
abl = sum(losses) / num
print("average training absolute loss is " + str(abl))

average training absolute loss is 0.0678142040275123

#### biomed + bible + europarl test

In [ ]:
np.unique(test['corpus'])

array(['bible', 'biomed', 'europarl'], dtype=object)

In [ ]:
# on test
test_df = test.dropna()
test_df.head(3)

                               id corpus  ... token complexity
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ...  hand   0.000000
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...  hand   0.197368
2  3ULIZ0H1VA5C32JJMKOTQ8Z4GUS51B  bible  ...  hand   0.200000

[3 rows x 5 columns]

In [ ]:
test_elmo_vectors, test_index_token = compute_elmo(test_df, batch_size=250)

-------------
26
Go yourselves, get straw where you can find it, for nothing of your work shall be diminished.'
['go', 'get', 'straw', 'find', 'nothing', 'work', 'shall', 'diminished']
yourselves
COULD NOT FIND WORD!!
-------------
27
Separate yourselves from among this congregation, that I may consume them in a moment!
['separate', 'among', 'congregation', 'may', 'consume', 'moment']
yourselves
COULD NOT FIND WORD!!
-------------
28
Neither present your members to sin as instruments of unrighteousness, but present yourselves to God, as alive from the dead, and your members as instruments of righteousness to God.
['neither', 'present', 'members', 'sin', 'instruments', 'unrighteousness', 'present', 'god', 'alive', 'dead', 'members', 'instruments', 'righteousness', 'god']
yourselves
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
250
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
500
-------------
68
A number of target gene candidates emerged upon a transcriptome analysis of mock- and cadmium-treated Mtf1 conditional knockout mice and control littermates and several of these were confirmed by semiquantitative RT–PCR.
['number', 'target', 'gene', 'candidates', 'emerged', 'upon', 'transcriptome', 'analysis', 'mock', 'cadmiumtreated', 'conditional', 'knockout', 'mice', 'control', 'littermates', 'several', 'confirmed', 'semiquantitative']
RT
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...
750
-------------
163
Section V - Court of Auditors (SEC(2002) 405 - C5-0245/2002 - 2002/2105(DEC))
['section', 'v', 'court', 'auditors']
DEC
COULD NOT FIND WORD!!
INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

Run session...

In [ ]:
test_elmo_embedded_word = word_embedding_vectors(test_elmo_vectors, test_index_token)

In [ ]:
test_elmo_embedded_df = pd.DataFrame(test_elmo_embedded_word)

In [ ]:
test_elmo_embedded_df.head(3)

       0         1         2     ...      1021      1022      1023
0 -0.076672  0.251269  0.248113  ... -0.441685 -0.303746  0.344226
1  0.186335  0.261939  0.165064  ... -1.140565  0.218136  0.457980
2 -0.431774  0.333561 -0.189042  ... -0.139413  0.137243  0.101267

[3 rows x 1024 columns]

In [ ]:
elmo_test_df_combined = pd.concat([test_df, test_elmo_embedded_df], axis=1).dropna()
elmo_test_df_combined.head(2)

                               id corpus  ...      1022      1023
0  3K8CQCU3KE19US5SN890DFPK3SANWR  bible  ... -0.303746  0.344226
1  3Q2T3FD0ON86LCI41NJYV3PN0BW3MV  bible  ...  0.218136  0.457980

[2 rows x 1029 columns]

In [ ]:
# predict
X_elmo_test = elmo_test_df_combined.drop(columns=['token', 'complexity', 'id', 'corpus', 'sentence'])
Y_elmo_pred = lr.predict(X_elmo_test)

In [ ]:
print(len(Y_elmo_pred))
print(len(Y_elmo_test))

917
917

In [ ]:
# test loss (average absolute loss)
num = len(Y_elmo_pred)
losses = []
for i in range(num):
  loss = abs(Y_elmo_pred[i] - Y_elmo_test[i])
  losses.append(loss)
abl = sum(losses) / num
print("average test absolute loss is " + str(abl))

average test absolute loss is 0.0805725685296934